@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;
@use "../../../scss/mixins/animations" as animations;

.hero {
  @include mixins.hero-container;
}

.hero__caption {
  @include mixins.hero-section-caption;
}

.hero__captionSubtitle {
  @include typographyMixins.subCaption;
}

.hero__captionTitle {
  @include typographyMixins.title;

  span {
    color: colors.$color-primary;
  }
}

.hero__captionText {
  @include typographyMixins.captionText;
}

.hero__captionDescription {
  width: 70%;
  font-size: typography.$font-size-lg;
  color: colors.$color-primary;
  font-weight: 600;
}

.hero__images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__images img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.hero__images img:nth-child(1) {
  transform: translateY(-1.2rem);

  @include animations.tilt-in-left-2;
}

.hero__images img:nth-child(2) {
  transform: translateY(1.2rem);

  @include animations.tilt-in-right-2;
}
