@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.ourMissionAndVision {
  @include mixins.centered-bg-white-section;
}

.ourMission,
.ourVision {
  display: flex;
  gap: 1rem;
}

.ourMissionContent,
.ourVisionContent {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.ourMissionSubCaption,
.ourVisionSubCaption {
  @include typographyMixins.subCaption;
  color: colors.$text-color-gray;
  font-weight: 400;
}

.ourMissionTitle,
.ourVisionTitle {
  @include typographyMixins.title($color: colors.$color-primary);
}

.ourMissionText,
.ourVisionText {
  margin-top: 0.5rem;
  @include typographyMixins.sectionCaptionText($color: colors.$text-color-gray);
}

.ourMissionDescription,
.ourVisionDescription {
  width: 90%;
  margin-top: 1.8rem;
  font-size: typography.$font-size-md;
  font-weight: 400;
}

.ourVisionDescription {
  text-align: right;
}

.ourVision {
  flex-direction: row-reverse;
}

.ourVisionContent {
  align-items: flex-end;
}

// ========================== MEDIA QUERIES ========================== //
@media screen and (max-width: 475px) {
  .ourMissionAndVision {
    padding: 3rem;
  }

  .ourMission,
  .ourVision {
    flex-direction: column;
    gap: 0;
  }

  .ourMissionContent,
  .ourVisionContent {
    margin-top: 0;
    align-items: center;
    justify-content: center;
  }

  .ourMissionSubCaption,
  .ourVisionSubCaption {
    font-size: 0.875rem;
  }

  .ourMissionTitle,
  .ourVisionTitle {
    font-size: 1.6rem;
    text-align: center;
  }

  .ourMissionText,
  .ourVisionText {
    margin-top: 0;
    font-size: 1rem;
    text-align: center;
  }

  .ourMissionDescription,
  .ourVisionDescription {
    margin-top: 1.2rem;
    font-size: 0.875rem;
  }
}
