@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.aboutSeparator {
  @include mixins.centered-bg-primary-section($gap: 1rem, $padding: 4rem 12rem);
  @include mixins.bg-gradient-primary;
  border-top-left-radius: variables.$rounded-section;
  align-items: normal;
}

.aboutSeparatorTitle {
  @include typographyMixins.separatorTitle;
  font-weight: 800;
}

.aboutSeparatorText {
  margin-top: -1rem;
  @include typographyMixins.separatorText;
}

.aboutSeparatorCTA {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.5rem;

  svg {
    margin-right: 0.5rem;
  }
}

// ======================= MEDIA QUERIES =======================
@media screen and (max-width: 475px) {
  .aboutSeparator {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem 1.5rem;
    border-top-left-radius: 0;
  }

  .aboutSeparatorTitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .aboutSeparatorText {
    font-size: 1.125rem;
    text-align: center;
  }

  .aboutSeparatorCTA {
    margin-top: 0;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
}
