@use "../../scss/base/variables" as variables;
@use "../../scss/base/colors" as colors;
@use "../../scss/base/typography" as typography;
@use "../../scss/mixins/mixins" as mixins;
@use "../../scss/mixins/typography" as typographyMixins;

.job__alert {
  @include mixins.bg-gradient-primary;
  font-family: "Inter", sans-serif;
  padding: variables.$spacing-section-center;
  background-color: colors.$bg-color-primary;
  color: colors.$text-color-white;
}

.job__alertRounded {
  border-top-right-radius: variables.$rounded-lg;
}

.job__alertTitle {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.job__alertText {
  margin-top: 0.2rem;
  font-size: 1.4rem;
}

.job__alertForm {
  display: flex;
  gap: 1.4rem;
  margin-top: 2rem;
  width: 100%;
  align-items: flex-end;

  .contact__formGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .contact__formGroup label {
    color: #fff;
  }

  .contact__formGroup input,
  .contact__formGroup textarea {
    padding: 0.8rem;
    border-radius: variables.$rounded-md;
    background-color: colors.$bg-color-gray;
    border: none;
    outline: 1px solid colors.$color-primary;
  }
}

.input_icon {
  margin-right: 0.5rem;
}

// ======================= MEDIA QUERIES =======================
@media screen and (max-width: 475px) {
  .job__alert {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem 1.5rem;
    border-top-right-radius: 0;
  }

  .job__alertTitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .job__alertText {
    font-size: 1.125rem;
    text-align: center;
  }

  .job__alertForm {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
  }

  .contact__formGroup {
    input {
      padding: 0.6rem !important;
      font-size: typography.$font-size-sm;
    }

    label {
      font-size: typography.$font-size-sm;
    }

    textarea {
      padding: 0.6rem !important;
      font-size: typography.$font-size-sm;
    }
  }
}
