@use "../../scss/base/variables" as variables;
@use "../../scss/base/colors" as colors;
@use "../../scss/base/typography" as typography;
@use "../../scss/mixins/mixins" as mixins;
@use "../../scss/mixins/typography" as typographyMixins;

.ourProcess {
  font-family: "Inter", sans-serif;
  padding: variables.$spacing-section-center;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
}

.ourProcess__caption {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.ourProcess__subCaption {
  @include typographyMixins.subCaption($weight: 400);
}

.ourProcess__captionTitle {
  margin-top: -0.5rem;
  @include typographyMixins.title($color: colors.$color-primary);
}

.ourProcess__captionText {
  margin-top: 0.875rem;
  @include typographyMixins.sectionCaptionText;
}

.ourProcess__steps {
  padding-inline: 8rem;
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.1rem;
  align-items: start;
}

/* Stepper container */
.stepper {
  position: relative;
  width: 80%;
  height: 4px;
  background-color: #e0e0e0;
  margin: 20px 0;
}

/* Filled progress line */

.stepperLine {
  position: absolute;
  height: 100%;
  background-color: colors.$color-primary;
  transition: width 0.3s ease;
}

/* Dot styles */
.stepperDot {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #e0e0e0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

/* Active dot style */
.activeDot {
  background-color: colors.$color-primary;
}

// TODO: 23px font-size for cards
.ourProcess__step {
  @include mixins.bg-gradient-primary($direction: 190deg);
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  color: colors.$text-color-white;
  padding: 1.6rem 2rem;
  border-radius: variables.$rounded-lg;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden; // ensures smooth transitions when content expands

  // Set a base height so they all look the same when not hovered
  min-height: 300px; // adjust this value as needed

  .ourProcess__stepHeader {
    // Fix the height so that even if title/text spans different lines,
    // every header occupies the same space.
    min-height: 250px; // Adjust this value based on your design
  }

  svg {
    margin-left: auto;
  }

  &:hover {
    background: colors.$bg-color-gray;
    color: colors.$text-color-dark-blue;

    svg {
      fill: colors.$color-primary;
    }

    .ourProcess__stepTitle {
      color: colors.$color-primary;
    }

    .ourProcess__stepDescription {
      font-size: typography.$font-size-sm;
      color: colors.$text-color-gray;
      opacity: 1;
      max-height: 200px; // Adjust this value based on your design
    }
  }
}

.ourProcess__step:nth-child(1) {
  border-bottom-left-radius: 0;
}

.ourProcess__step:nth-child(4) {
  border-bottom-right-radius: 0;
}

.ourProcess__stepTitle {
  font-size: 3.6rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.ourProcess__stepText {
  font-size: 1.6rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.ourProcess__stepDescription {
  margin-top: 1rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}
