@use "../../scss/base/variables" as variables;
@use "../../scss/base/colors" as colors;
@use "../../scss/base/typography" as typography;
@use "../../scss/mixins/mixins" as mixins;
@use "../../scss/mixins/typography" as typographyMixins;

.our__services {
  @include mixins.centered-bg-gray-section($gap: 1.2rem);
}

.our__servicesWhite {
  @include mixins.centered-bg-white-section($gap: 1.2rem);
}

.our__servicesBackgroundLines {
  background-image: url("/assets/shared/our-services/background.png");
  background-size: cover;
  background-position: center;
}

.our__servicesSubCaption {
  @include typographyMixins.subCaption($weight: 400);
}

.our__servicesTitle {
  @include typographyMixins.title($color: colors.$color-primary);
}

.our__servicesText {
  @include typographyMixins.sectionCaptionText;
}

// ==================== CAROUSEL STARTS FROM HERE ====================
.carouselContainer {
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
}

.carouselTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 200%; // Adjust this if the number of slides changes (100% * total slides)
}

.carouselSlide {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
}

/* Dots styling */
.carouselDots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active {
  background-color: colors.$color-primary;
}

// ==================== CARD COMPONENT STARTS FROM HERE ====================
.service__card {
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: variables.$rounded-lg;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: left;
  color: whitesmoke;

  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
  //   0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
  //   0 16px 16px rgba(0, 0, 0, 0.1);

  height: 450px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    // background-position: 0 0;
    background-position: center;
    transition: transform calc(variables.$card-effect-duration * 1.5)
      variables.$card-effect;
    pointer-events: none;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.32) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.54) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.79) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(variables.$card-effect-duration * 2)
      variables.$card-effect;
  }

  // &:nth-child(1)::before {
  //   background-image: url("/assets/shared/our-services/drafter_1.jpg");
  // }

  // &:nth-child(2)::before {
  //   background-image: url("/assets/shared/our-services/3d_renderer_1.jpg");
  // }

  // &:nth-child(3)::before {
  //   background-image: url("/assets/shared/our-services/bim_1.jpg");
  // }

  // &:nth-child(4)::before {
  //   background-image: url("/assets/shared/our-services/project_manager_1.jpg");
  // }

  // &:nth-child(5)::before {
  //   background-image: url("/assets/shared/our-services/design_drafter_1.jpg");
  // }

  // &:nth-child(6)::before {
  //   background-image: url("/assets/shared/our-services/estimator_1.jpg");
  // }
}

.carouselSlide:nth-child(1) {
  .service__card:nth-child(1) {
    &::before {
      background-image: url("/assets/shared/our-services/drafter_1.jpg");
    }
  }

  .service__card:nth-child(2) {
    &::before {
      background-image: url("/assets/shared/our-services/3d_renderer_1.jpg");
    }
  }

  .service__card:nth-child(3) {
    &::before {
      background-image: url("/assets/shared/our-services/bim_1.jpg");
    }
  }

  .service__card:nth-child(4) {
    &::before {
      background-image: url("/assets/shared/our-services/project_manager_1.jpg");
    }
  }
}

.carouselSlide:nth-child(2) {
  .service__card:nth-child(1) {
    &::before {
      background-image: url("/assets/shared/our-services/design_drafter_1.jpg");
    }
  }

  .service__card:nth-child(2) {
    &::before {
      background-image: url("/assets/shared/our-services/estimator_1.jpg");
    }
  }

  .service__card:nth-child(3) {
    &::before {
      background-image: url("/assets/shared/our-services/estimator_1.jpg");
    }
  }

  .service__card:nth-child(4) {
    &::before {
      background-image: url("/assets/shared/our-services/estimator_1.jpg");
    }
  }
}

.service__cardContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  transition: transform variables.$card-effect-duration variables.$card-effect;
  z-index: 1;

  > * + * {
    margin-top: 1rem;
  }
}

@media (hover: hover) and (min-width: 600px) {
  .service__card::after {
    transform: translateY(0);
  }

  .service__cardContent {
    transform: translateY(calc(100% - 4.5rem));

    > *:not(.service__cardTitle) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform variables.$card-effect-duration
          variables.$card-effect,
        opacity variables.$card-effect-duration variables.$card-effect;
    }
  }

  .carouselSlide:nth-child(1) {
    .service__card:nth-child(4) {
      .service__cardContent {
        transform: translateY(calc(100% - 6.5rem));
      }
    }
  }

  .carouselSlide:nth-child(2) {
    .service__card:nth-child(1) {
      .service__cardContent {
        transform: translateY(calc(100% - 6rem));
      }
    }
  }

  .service__card:hover,
  .service__card:focus-within {
    align-items: center;

    &::before {
      transform: translateY(-4%);
    }

    &::after {
      transform: translateY(-50%);
    }

    .service__cardContent {
      transform: translateY(calc(100% - 8.5rem));

      > *:not(.service__cardTitle) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(variables.$card-effect-duration / 8);
      }
    }
  }
}

.carouselSlide:nth-child(1) {
  .service__card:nth-child(2):hover,
  .service__card:nth-child(2):focus-within {
    .service__cardContent {
      transform: translateY(calc(100% - 8.5rem));
    }
  }

  .service__card:nth-child(3):hover,
  .service__card:nth-child(3):focus-within {
    .service__cardContent {
      transform: translateY(calc(100% - 11rem));
    }
  }

  .service__card:nth-child(4):hover,
  .service__card:nth-child(4):focus-within {
    .service__cardContent {
      transform: translateY(calc(100% - 12rem));
    }
  }
}

.carouselSlide:nth-child(2) {
  .service__card:nth-child(1):hover,
  .service__card:nth-child(1):focus-within {
    .service__cardContent {
      transform: translateY(calc(100% - 12rem));
    }
  }

  .service__card:nth-child(2):hover,
  .service__card:nth-child(2):focus-within {
    .service__cardContent {
      transform: translateY(calc(100% - 8.5rem));
    }
  }

  .service__card:nth-child(3):hover,
  .service__card:nth-child(3):focus-within {
    .service__cardContent {
      transform: translateY(calc(100% - 11rem));
    }
  }

  .service__card:nth-child(4):hover,
  .service__card:nth-child(4):focus-within {
    .service__cardContent {
      transform: translateY(calc(100% - 19rem));
    }
  }
}

.service__card:focus-within {
  &::before,
  &::after,
  .service__cardContent,
  .service__cardContent > *:not(.service__cardTitle) {
    transition-duration: 0s;
  }
}

// ==================== MEDIA QUERIES ====================
@media screen and (max-width: 475px) {
  .our__services {
    padding-block: 2rem;
    padding-inline: 2rem;
    gap: 0.5rem;
    align-items: center;
  }

  .our__servicesMobileCorners {
    border-top-left-radius: variables.$rounded-lg;
    border-top-right-radius: variables.$rounded-lg;
  }

  .our__servicesSubCaption {
    font-size: 0.875rem;
    text-align: center;
  }

  .our__servicesTitle {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
  }

  .our__servicesText {
    margin-top: 0.25rem;
    font-size: 1rem;
    text-align: center;
  }

  .carouselTrack {
    width: 800%;
  }

  .carouselSlide {
    grid-template-columns: 1fr;
  }

  .carouselSlide:nth-child(1) {
    .service__card {
      &::before {
        background-image: url("/assets/shared/our-services/drafter_1.jpg");
      }
    }
  }

  .carouselSlide:nth-child(2) {
    .service__card {
      &::before {
        background-image: url("/assets/shared/our-services/3d_renderer_1.jpg");
      }
    }
  }

  .carouselSlide:nth-child(3) {
    .service__card {
      &::before {
        background-image: url("/assets/shared/our-services/bim_1.jpg");
      }
    }
  }

  .carouselSlide:nth-child(4) {
    .service__card {
      &::before {
        background-image: url("/assets/shared/our-services/project_manager_1.jpg");
      }
    }
  }

  .carouselSlide:nth-child(5) {
    .service__card {
      &::before {
        background-image: url("/assets/shared/our-services/design_drafter_1.jpg");
      }
    }
  }

  .carouselSlide:nth-child(6) {
    .service__card {
      &::before {
        background-image: url("/assets/shared/our-services/estimator_1.jpg");
      }
    }
  }

  .carouselSlide:nth-child(7) {
    .service__card {
      &::before {
        background-image: url("/assets/shared/our-services/estimator_1.jpg");
      }
    }
  }

  .carouselSlide:nth-child(8) {
    .service__card {
      &::before {
        background-image: url("/assets/shared/our-services/estimator_1.jpg");
      }
    }
  }
}

@media (hover: hover) and (min-width: 2200px) {
  .carouselSlide:nth-child(1) {
    .service__card:nth-child(1):hover,
    .service__card:nth-child(1):focus-within {
      .service__cardContent {
        transform: translateY(calc(100% - 15rem));
      }
    }

    .service__card:nth-child(2):hover,
    .service__card:nth-child(2):focus-within {
      .service__cardContent {
        transform: translateY(calc(100% - 15rem));
      }
    }

    .service__card:nth-child(3):hover,
    .service__card:nth-child(3):focus-within {
      .service__cardContent {
        transform: translateY(calc(100% - 15rem));
      }
    }

    .service__card:nth-child(4):hover,
    .service__card:nth-child(4):focus-within {
      .service__cardContent {
        transform: translateY(calc(100% - 22rem));
      }
    }
  }

  .carouselSlide:nth-child(2) {
    .service__card:nth-child(1):hover,
    .service__card:nth-child(1):focus-within {
      .service__cardContent {
        transform: translateY(calc(100% - 25rem));
      }
    }

    .service__card:nth-child(2):hover,
    .service__card:nth-child(2):focus-within {
      .service__cardContent {
        transform: translateY(calc(100% - 13rem));
      }
    }

    .service__card:nth-child(3):hover,
    .service__card:nth-child(3):focus-within {
      .service__cardContent {
        transform: translateY(calc(100% - 16rem));
      }
    }

    .service__card:nth-child(4):hover,
    .service__card:nth-child(4):focus-within {
      .service__cardContent {
        transform: translateY(calc(100% - 28rem));
      }
    }
  }
}
