@use "../../scss/base/variables" as variables;
@use "../../scss/base/colors" as colors;
@use "../../scss/base/typography" as typography;
@use "../../scss/mixins/mixins" as mixins;
@use "../../scss/mixins/typography" as typographyMixins;

.testimonials {
  @include mixins.centered-bg-white-section($gap: 0.5rem);
  background-image: url("/assets/shared/testimonials/background.png");
}

.testimonials__subCaption {
  @include typographyMixins.subCaption;
}

.testimonials__captionTitle {
  margin-top: 0.5rem;
  @include typographyMixins.title($color: colors.$color-primary);
}

.testimonials__list {
  margin-top: 1rem;
  width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
}

.testimonials__card {
  display: flex;
  flex-direction: column;
  background-color: colors.$bg-color-gray;
  padding: 2rem;
  border-radius: variables.$rounded-md;
}

.testimonials__cardQuote {
  width: 2rem;
  margin-bottom: 2.4rem;
}

.testimonials__cardText {
  font-size: typography.$font-size-lg;
  margin-top: -1.2rem;
}

.testimonials__cardAuthor {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: auto;

  img {
    width: 3rem;
    height: 3rem;
    // object-fit: cover; // Uncomment this if you want to cover the entire area of the image
    object-fit: contain;
    border-radius: 50%;
  }
}

.testimonials__card:nth-child(2) {
  .testimonials__cardAuthor {
    margin-top: 2rem;
  }
}

.testimonials__cardAuthorName {
  font-weight: 700;
  color: colors.$color-primary;
  font-size: 1.4rem;
}

.testimonials__cardAuthorPosition {
  font-size: typography.$font-size-md;
  color: colors.$text-color-gray;
}

// ==================== CAROUSEL STARTS FROM HERE ====================
// .carouselContainer {
//   display: none;
// }

.carouselTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%; // Adjust this if the number of slides changes (100% * total slides)
}

.carouselSlide {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
}

/* Dots styling */
.carouselDots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active {
  background-color: colors.$color-primary;
}

// =================== MEDIA QUERIES ===================
@media screen and (max-width: 475px) {
  .testimonials {
    padding-inline: 1.5rem;
    gap: 0;
    padding-block: 3rem;
  }

  .testimonials__subCaption {
    font-size: 0.875rem;
  }

  .testimonials__captionTitle {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .containerMobile {
    margin-top: 0.5rem;
    padding-inline: 3rem !important;
  }

  .carouselContainer {
    overflow: hidden;
    position: relative;
    margin-top: 0.5rem;
  }

  .carouselDots {
    margin-bottom: 2rem;
  }

  .testimonials__card {
    // width: 100%;
    padding: 0.8rem 1.2rem;
    gap: 0.5rem;
  }

  .testimonials__cardQuote {
    width: 1.5rem;
    margin-bottom: 2rem;
  }

  .testimonials__cardText {
    font-size: 0.8rem;
  }

  .testimonials__cardAuthor {
    margin-top: 0.5rem;
    gap: 0.5rem;
  }

  .testimonials__cardAvatar {
    width: 3rem !important;
    height: 3rem !important;
    object-fit: cover;
  }

  .testimonials__cardAuthorName {
    font-size: 0.875rem;
  }

  .testimonials__cardAuthorPosition {
    font-size: 0.75rem;
  }
}
