@use "../base/variables" as variables;
@use "../base/colors" as colors;

@mixin centered-bg-section {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin centered-bg-gray-section(
  $gap: 2.2rem,
  $padding: variables.$spacing-section-center
) {
  @include centered-bg-section;
  background-color: colors.$bg-color-gray;
  padding: $padding;
  gap: $gap;
}

@mixin centered-bg-primary-section(
  $gap: 2.2rem,
  $padding: variables.$spacing-section-center
) {
  @include centered-bg-section;
  background-color: colors.$bg-color-primary;
  padding: $padding;
  gap: $gap;
}

@mixin centered-bg-white-section(
  $gap: 2.2rem,
  $padding: variables.$spacing-section-center
) {
  @include centered-bg-section;
  background-color: colors.$bg-color-white;
  padding: $padding;
  gap: $gap;
}

// =============== Background gradients ===============
@mixin bg-gradient-primary(
  $direction: to right,
  $start-color: colors.$color-primary,
  $end-color: colors.$color-tertiary
) {
  background-image: linear-gradient($direction, $start-color, $end-color);
}

// =============== Hero section =================
@mixin hero-section-caption {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  justify-content: center;
}

// =============== Separator section =================
@mixin ctaSeparator {
  @include bg-gradient-primary;
  font-family: "Inter", sans-serif;
  padding: variables.$spacing-section-center;
  padding-block: 6rem;
  padding-inline: 0rem;
  color: colors.$text-color-white;
  border-top-left-radius: variables.$rounded-lg;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

@mixin ctaSeparatorTitle {
  display: inline;
  font-size: 2.1rem;
  font-weight: 500;
  width: 50%;
  letter-spacing: -0.5px;
  line-height: 38px;
  text-align: left;
}
