@use "../../scss/base/variables" as variables;
@use "../../scss/base/colors" as colors;
@use "../../scss/base/typography" as typography;
@use "../../scss/mixins/typography" as typographyMixins;

.cta__separator {
  font-family: "Inter", sans-serif;
  padding: variables.$spacing-section-center;
  background-color: colors.$bg-color-primary;
  color: colors.$text-color-white;
  border-top-left-radius: variables.$rounded-lg;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cta__separatorTitle {
  display: inline;
  font-size: 2rem;
  font-weight: 500;
  width: 50%;

  span {
    font-weight: 700;
  }
}
