@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.appProcess {
  @include mixins.centered-bg-gray-section;
  border-top-left-radius: variables.$rounded-section;
  border-top-right-radius: variables.$rounded-section;
}

.appProcess__caption {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.appProcess__subCaption {
  @include typographyMixins.subCaption;
}

.appProcess__captionTitle {
  margin-top: 0.5rem;
  @include typographyMixins.title($color: colors.$color-primary);
}

.appProcess__captionText {
  margin-top: 1rem;
  @include typographyMixins.sectionCaptionText(
    $weight: 500,
    $size: typography.$font-size-base
  );

  span {
    color: colors.$color-primary;
  }
}

.appProcess__steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.1rem;
  align-items: start;
}

.appProcess__step {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: colors.$bg-color-primary;
  color: colors.$text-color-white;
  padding: 1.6rem 2rem;
  border-radius: variables.$rounded-lg;
  transition: background-color 0.3s ease, color 0.3s ease;

  svg {
    margin-left: auto;
  }

  &:hover {
    background-color: colors.$bg-color-gray;
    color: colors.$text-color-dark-blue;

    svg {
      stroke: colors.$color-primary;
    }

    .appProcess__stepTitle {
      color: colors.$color-primary;
    }

    .appProcess__stepDescription {
      font-size: typography.$font-size-sm;
      color: colors.$text-color-gray;
      opacity: 1;
      max-height: fit-content; // Adjust as needed
    }
  }
}

.appProcess__step:nth-child(1) {
  border-bottom-left-radius: 0;
}

.appProcess__step:nth-child(4) {
  border-bottom-right-radius: 0;
}

.appProcess__stepTitle {
  font-size: 3.6rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.appProcess__stepText {
  font-size: 1.6rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.appProcess__stepDescription {
  margin-top: 1rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}
