@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.appProcess {
  @include mixins.centered-bg-gray-section;
  border-top-left-radius: variables.$rounded-section;
  border-top-right-radius: variables.$rounded-section;
}

.appProcess__caption {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.appProcess__subCaption {
  @include typographyMixins.subCaption;
}

.appProcess__captionTitle {
  margin-top: 0.5rem;
  @include typographyMixins.title($color: colors.$color-primary);
}

.appProcess__captionText {
  margin-top: 1rem;
  @include typographyMixins.sectionCaptionText(
    $weight: 500,
    $size: typography.$font-size-base
  );

  span {
    color: colors.$color-primary;
  }
}

.appProcess__steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.1rem;
  align-items: start;
}

/* Stepper container */
.stepper {
  position: relative;
  width: 80%;
  height: 4px;
  background-color: #e0e0e0;
  margin: 20px 0;
}

/* Filled progress line */

.stepperLine {
  position: absolute;
  height: 100%;
  background-color: colors.$color-primary;
  transition: width 0.3s ease;
}

/* Dot styles */
.stepperDot {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #e0e0e0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

/* Active dot style */
.activeDot {
  background-color: colors.$color-primary;
}

.appProcess__step {
  @include mixins.bg-gradient-primary($direction: 190deg);
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: colors.$bg-color-primary;
  color: colors.$text-color-white;
  padding: 1.6rem 2rem;
  border-radius: variables.$rounded-lg;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden; // ensures smooth transitions when content expands

  // Set a base height so they all look the same when not hovered
  min-height: 300px; // adjust this value as needed

  .appProcess__stepHeader {
    // Fix the height so that even if title/text spans different lines,
    // every header occupies the same space.
    min-height: 250px; // Adjust this value based on your design
  }

  svg {
    margin-left: auto;
  }

  &:hover {
    background: #fff;
    color: colors.$text-color-dark-blue;

    svg {
      stroke: colors.$color-primary;
    }

    .appProcess__stepTitle {
      color: colors.$color-primary;
    }

    .appProcess__stepDescription {
      font-size: typography.$font-size-sm;
      color: colors.$text-color-gray;
      opacity: 1;
      max-height: 200px; // Adjust this value based on your design
    }
  }
}

.appProcess__step:nth-child(1) {
  border-top-left-radius: 0;
}

.appProcess__step:nth-child(6) {
  border-bottom-right-radius: 0;
}

.appProcess__stepTitle {
  font-size: 3.6rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.appProcess__stepText {
  font-size: 1.6rem;
  font-weight: 700;
  transition: color 0.3s ease;
  line-height: 1.3;
}

.appProcess__stepDescription {
  margin-top: 1.6rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

// ======================== CAROUSEL STARTS HERE ========================
.carouselContainer {
  display: block;
  overflow: hidden;
  position: relative;
}

.carouselTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 800%; // Adjust this if the number of slides changes (100% * total slides)
}

.carouselSlide {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
}

/* Dots styling */
.carouselDots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active {
  background-color: colors.$color-primary;
}

// ======================== MEDIA QUERIES ========================
@media screen and (max-width: 475px) {
  .appProcess {
    padding-inline: 2.4rem;
    padding-block: 3rem;
    padding-bottom: 4rem;
    border-top-left-radius: variables.$rounded-lg;
    border-top-right-radius: variables.$rounded-lg;
  }

  .appProcess__subCaption {
    font-size: 0.875rem;
  }

  .appProcess__captionTitle {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  .appProcess__captionText {
    margin-top: 0;
    font-size: 1rem;
    text-align: center;
  }

  .appProcess__step {
    min-height: 80px;
    padding: 1rem 1.5rem;

    border-radius: variables.$rounded-lg !important;

    .appProcess__stepHeader {
      min-height: 40px;
    }

    background: #fff;
    color: colors.$text-color-dark-blue;

    svg {
      fill: colors.$color-primary;
    }

    .appProcess__stepTitle {
      font-size: 3rem;
      color: colors.$color-primary;
    }

    .appProcess__stepText {
      font-size: 1rem;
    }

    .appProcess__stepDescription {
      font-size: 0.875rem;
      color: colors.$text-color-gray;
      opacity: 1;
      overflow: initial;
      max-height: 200px;
      margin-top: 0.875rem;
    }
  }
}
