@use "../../../scss/base/colors" as colors;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.findJobSeparator {
  @include mixins.centered-bg-primary-section($gap: 1.2rem);
  @include mixins.bg-gradient-primary;

  padding-block: 3rem;
}

.findJobSeparatorTitle {
  width: 50%;
  text-align: center;
  @include typographyMixins.title($size: 3rem);
  color: colors.$text-color-white;
  font-weight: 500;
  line-height: 1.2;

  span {
    font-weight: 700;
  }
}

.findJobSeparatorText {
  color: colors.$text-color-white;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  margin-block: 1rem;
}

// ======================= MEDIA QUERIES =======================
@media screen and (max-width: 475px) {
  .findJobSeparator {
    flex-direction: column;
    gap: 0;
    align-items: center;
    padding: 2rem 0;
  }

  .findJobSeparatorTitle {
    width: 100%;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .findJobSeparatorText {
    font-size: 1.125rem;
    padding-inline: 1rem;
    margin-bottom: 1.5rem;
  }
}
