@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.hero {
  @include mixins.hero-container;
  background-image: url("/assets/shared/hero/background.png");
  background-position: 100% 20%;
}

.hero__caption {
  @include mixins.hero-section-caption;
}

.hero__captionSubtitle {
  @include typographyMixins.captionSubtitle;
}

.hero__captionTitle {
  @include typographyMixins.title;

  span {
    color: colors.$color-primary;
  }
}

.hero__captionText {
  @include typographyMixins.captionText;
}

.hero__captionCTA {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hero__images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__images img {
  width: 50%;
  height: auto;
  object-fit: cover;
}
