@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;
@use "../../../scss/mixins/animations" as animations;

.hero {
  @include mixins.hero-container;
}

.hero__caption {
  @include mixins.hero-section-caption;
}

.hero__captionSubtitle {
  @include typographyMixins.captionSubtitle;
}

.hero__captionTitle {
  @include typographyMixins.title;

  span {
    color: colors.$color-primary;
  }
}

.hero__captionText {
  @include typographyMixins.captionText;
}

.hero__captionCTA {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hero__images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__images img {
  width: 100%;
  height: auto;
  object-fit: cover;

  // height: 65%; // Check this

  &:nth-child(1) {
    // @include animations.slide-in-left-1;
    // @include animations.tilt-in-left-1;
  }

  &:nth-child(2) {
    // @include animations.tilt-in-right-1;
  }
}
