@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/typography" as typographyMixins;
@use "../../../scss/mixins/mixins" as mixins;

.cta__separator {
  @include mixins.ctaSeparator;
}

.cta__separatorTitle {
  @include mixins.ctaSeparatorTitle;

  span {
    font-weight: 700;
  }
}

@media screen and (max-width: 475px) {
  .cta__separator {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem 0;
  }

  .cta__separatorTitle {
    line-height: 1.5;
    width: 100%;
    font-size: 1.125rem;
    text-align: center;
  }
}
