@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;
@use "../../../scss/mixins/animations" as animations;

.software__used {
  @include mixins.centered-bg-white-section($gap: 1.2rem);
  text-align: center;
}

.software__usedTitle {
  @include typographyMixins.title($color: colors.$color-primary);
}

.software__usedText {
  @include typographyMixins.sectionCaptionText;
  width: 60%;
}

.software__usedList {
  background-color: colors.$bg-color-white;
  margin-top: 1.2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;
}

.software__firstRow,
.software__secondRow {
  // display: grid;
  // grid-template-columns: repeat(5, 1fr);
  // width: 100%;

  display: flex;
  gap: 1.2rem;
  width: max-content;
}

// Animation for left-to-right
.software__firstRow {
  @include animations.scroll-left-to-right;
}

// Animation for right-to-left
.software__secondRow {
  // animation-delay: -15s;
  @include animations.scroll-right-to-left;
}

.software__usedItem {
  background-color: colors.$bg-color-gray;
  padding: 1rem 2rem;
  border-radius: variables.$rounded-md;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 85%;
    object-fit: contain;
  }
}
