@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/typography" as typographyMixins;

.hero {
  background-image: url("/assets/shared/hero/background.png");
  padding: variables.$spacing-section-center;
  margin-top: -3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-position: 100% 20%;
}

.hero__caption {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  justify-content: center;
}

.hero__captionSubtitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include typographyMixins.captionSubtitle;

  span:is(:first-of-type) {
    color: colors.$color-primary;
  }

  span {
    color: colors.$text-color-gray;
    font-weight: 400;
  }
}

.hero__captionTitle {
  @include typographyMixins.title;

  span {
    color: colors.$color-primary;
  }
}

.hero__captionText {
  font-size: typography.$font-size-lg;
  color: colors.$text-color-dark-blue;
  font-weight: 400;
  width: 85%;
  letter-spacing: -0.25px;
}

.hero__captionCTA {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hero__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__images img {
  width: 100%;
  height: auto;
  object-fit: cover;

  &:nth-child(1) {
    transform: translateY(0.7rem);
  }

  &:nth-child(2) {
    transform: translateY(-0.7rem);
  }
}
