@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;
@use "../../../scss/mixins/animations" as animations;

.hero {
  background-image: url("/assets/shared/hero/background.png");
  @include mixins.hero-container;
}

.hero__caption {
  @include mixins.hero-section-caption;
}

.hero__captionSubtitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include typographyMixins.captionSubtitle(
    $color: colors.$color-primary,
    $weight: 600
  );

  span:is(:first-of-type) {
    color: colors.$color-primary;
  }

  span {
    color: colors.$text-color-gray;
    font-weight: 400;
  }
}

.hero__captionTitle {
  @include typographyMixins.title;

  span {
    color: colors.$color-primary;
  }
}

.hero__captionText {
  @include typographyMixins.captionText;
}

.hero__captionCTA {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hero__images {
  display: flex;
  flex-direction: column;
  // justify-content: space-between; // places topImages at the top and bottomImages at the bottom
  height: 450px;
  // gap: .5rem;
}

.topImages,
.bottomImages {
  position: relative;
  width: 100%;
  height: 50%; // each container takes half the height
  overflow: hidden;
}

.topImages img,
.bottomImages img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0; // hide all images by default
  transition: opacity 0.5s ease-in-out;
}

.topImages img.active,
.bottomImages img.active {
  opacity: 1;
}

// Apply your animations when the image becomes active
.top.active {
  // @include animations.tilt-in-left-1;
  @include animations.slide-in-left;
}

.bottom.active {
  @include animations.slide-in-right;
}

// ========== MEDIA QUERIES ==========
@media screen and (max-width: 475px) {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5rem;
    padding-inline: 1.5rem;
    padding-bottom: 2.4rem;
  }

  .hero__caption {
    align-items: center;
    text-align: center;
  }

  .hero__captionTitle {
    font-size: 2.8rem;
  }

  .hero__images {
    margin-top: 1rem;
    height: 150px;

    .topImages {
      flex: 1;
    }

    .bottomImages {
      display: none;
    }
  }

  .top.active,
  .bottom.active {
    animation: none;
  }
}
