@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/utils/utils" as utils;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.hero {
  @include mixins.hero-container;
  margin-top: -4rem;
}

.hero__caption {
  @include mixins.hero-section-caption;
}

.hero__captionTitle {
  @include typographyMixins.title;

  span {
    color: colors.$color-primary;
  }
}

.hero__captionText {
  margin-top: 0.2rem;
  @include typographyMixins.captionText;
  color: colors.$text-color-dark-blue;

  span {
    font-weight: 700;
  }
}

.hero__captionContactText {
  @include typographyMixins.captionText;

  .hero__captionContactLink {
    color: colors.$color-primary;
    font-weight: 700;
    text-underline-offset: 0.2rem;
  }
}

.hero__captionContactText + .hero__captionContactText {
  margin-top: 0.6rem;
}

// =================== The form contact starts right here ===================

.contact__container {
  @include mixins.bg-gradient-primary($direction: to bottom right);
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 4rem;
  border-radius: variables.$rounded-lg;
  border-bottom-right-radius: 0;
}

.contact__title {
  font-size: 2rem;
  font-weight: 800;
  color: colors.$text-color-white;
  letter-spacing: -0.2px;
}

.contact__description {
  margin-top: 0.4rem;
  font-size: typography.$font-size-md;
  color: colors.$text-color-white;
  font-weight: 300;
}

.contact__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  font-size: typography.$font-size-md;

  color: colors.$text-color-white;

  .contact__formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .contact__formGroup:has(textarea) {
    grid-column: 1 / -1;
  }

  .contact__formGroup input,
  .contact__formGroup textarea {
    padding: 0.5rem;
    border-radius: variables.$rounded-md;
    background-color: colors.$bg-color-gray;
    border: none;
  }
}

.contact__submit {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.contact__terms {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
