@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/utils/utils" as utils;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.separator {
  @include mixins.centered-bg-primary-section(
    $gap: 1.5rem,
    $padding: 4rem 12rem
  );
  @include mixins.bg-gradient-primary;
  border-top-left-radius: variables.$rounded-section;
  border-top-right-radius: variables.$rounded-section;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.separatorSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.separatorTitle {
  @include typographyMixins.title($color: colors.$text-color-white);
  font-weight: 700;
}

.separatorText {
  margin-top: -1rem;
  @include typographyMixins.separatorText;
  width: 60%;
  text-align: center;
}

.socials {
  display: flex;
  gap: 0.6rem;
  color: colors.$text-color-white;

  a {
    width: 3rem;
    fill: colors.$text-color-white;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

// ============= TODO: See if it works with icons =============
.separatorSection:nth-child(2) {
  margin-top: -1rem;
}
