@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;
@use "../../../scss/mixins/animations" as animations;

.hero {
  @include mixins.hero-container;
}

.hero__caption {
  @include mixins.hero-section-caption;
}

.hero__captionTitle {
  @include typographyMixins.title($color: colors.$color-primary);
}

.hero__captionSubtitle {
  @include typographyMixins.subCaption($weight: 400);
  margin-top: -0.5rem;
}

.hero__captionText {
  @include typographyMixins.captionText;
  margin-top: 1rem;
}

.hero__captionDescription {
  width: 80%;
  margin-top: 0.5rem;
  font-size: typography.$font-size-md;
  color: colors.$text-color-dark-blue;
  font-weight: 600;
}

.hero__images img {
  width: 100%;
  height: auto;
  object-fit: cover;

  @include animations.tilt-in-left-1;
}
