@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.separator {
  @include mixins.centered-bg-primary-section($gap: 1rem, $padding: 4rem 12rem);
  @include mixins.bg-gradient-primary;
  border-top-left-radius: variables.$rounded-section;
  align-items: normal;
}

.separatorTitle {
  @include typographyMixins.separatorTitle;
  font-weight: 800;
}

.separatorText {
  margin-top: -1rem;
  @include typographyMixins.separatorText;
}

.separatorCTA {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.5rem;
  align-items: flex-end;

  .contact__formGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .contact__formGroup label {
    color: #fff;
  }

  .contact__formGroup input,
  .contact__formGroup textarea {
    padding: 0.8rem;
    border-radius: variables.$rounded-md;
    background-color: colors.$bg-color-gray;
    border: none;
    outline: 1px solid colors.$color-primary;
  }
}

// ======================= MEDIA QUERIES =======================
@media screen and (max-width: 475px) {
  .separator {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem 1.5rem;
    border-top-left-radius: 0;
  }

  .separatorTitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .separatorText {
    font-size: 1.125rem;
    text-align: center;
  }

  .separatorCTA {
    margin-top: 0;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
  }

  .contact__formGroup {
    input {
      padding: 0.6rem !important;
      font-size: typography.$font-size-sm;
    }

    label {
      font-size: typography.$font-size-sm;
    }

    textarea {
      padding: 0.6rem !important;
      font-size: typography.$font-size-sm;
    }
  }
}
