@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.separator {
  @include mixins.centered-bg-primary-section($gap: 1rem, $padding: 4rem 12rem);
  @include mixins.bg-gradient-primary;
  border-top-left-radius: variables.$rounded-section;
  align-items: normal;
}

.separatorTitle {
  @include typographyMixins.separatorTitle;
  font-weight: 800;
}

.separatorText {
  margin-top: -1rem;
  @include typographyMixins.separatorText;
}

.separatorCTA {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.5rem;

  svg {
    margin-right: 0.5rem;
  }
}
