@use "../scss/base/variables" as variables;
@use "../scss/base/colors" as colors;
@use "../scss/base/typography" as typography;
@use "../scss/utils/utils" as utils;
@use "../scss/mixins/mixins" as mixins;
@use "../scss/mixins/typography" as typographyMixins;

.our__services {
  @include mixins.centered-bg-white-section($gap: 1.2rem);
  border-top-left-radius: variables.$rounded-section;
  border-top-right-radius: variables.$rounded-section;
}

.our__servicesTitle {
  @include typographyMixins.title;
}

.our__servicesText {
  font-size: typography.$font-size-lg;
}

.our__servicesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

// ============== WeeklyJobs STARTS FROM HERE ==============
