// Primary Colors
$color-primary: rgba(24, 99, 194, 255);
$color-secondary: #ffc907;

$white: #fff;
$black: #000;

// Background Colors
$bg-color-gray: #f2f6fc;
$bg-color-primary: rgba(24, 99, 194, 255);
$bg-color-white: #fff;

// Text Colors
$text-color-gray: #2c4658;
$text-color-white: #fff;
$text-color-black: #000;
