// Primary Colors
$color-primary: #1863c1;
$color-secondary: #ffc907;
$color-tertiary: #2e3191;

// Background Colors
$bg-color-gray: #f2f6fc;
$bg-color-primary: #1863c1;
$bg-color-white: #fff;

// Text colors
$text-color-white: #fff;
$text-color-gray: #808080;
$text-color-dark-blue: #2a3a42;
