// Spacing
$spacing-page-center: 14rem;
$spacing-page-sections: 3rem;

// Spacing sections
$spacing-section-center: 3rem 12rem;

// Border radius
$rounded-sm: 0.5rem;
$rounded-md: 1rem;
$rounded-full: 9999px;
