$spacing-page-sections: 6rem;

// Spacing
$spacing-page-center: 14rem;
$spacing-section-center: 6rem 12rem;

// Spacing between title and text
$spacing-title-text: 1.2rem;

// Spacing between subtitle and a grid
$spacing-subtitle-grid: 2rem;

// Border radius
$rounded-sm: 0.5rem;
$rounded-md: 1rem;
$rounded-lg: 2.4rem;
$rounded-full: 9999px;

$rounded-section: 8rem;

// Card section
$card-effect: cubic-bezier(0.19, 1, 0.22, 1);
$card-effect-duration: 700ms;
