// Spacing
$spacing-page-center: 14rem;
$spacing-page-sections: 6rem;

// Spacing sections
$spacing-section-center: 6rem 12rem;

// Border radius
$rounded-sm: 0.5rem;
$rounded-md: 1rem;
$rounded-lg: 2.4rem;
$rounded-full: 9999px;

$rounded-section: 8rem;
