@use "../scss/base/variables" as variables;
@use "../scss/base/colors" as colors;

.footer {
  font-family: "Inter", sans-serif;
  background-color: colors.$bg-color-gray;
  padding-block: variables.$spacing-page-sections;
  padding-inline: variables.$spacing-page-center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 3rem;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1rem;
  }

  img {
    width: 25%;
    max-width: 100%;
    cursor: pointer;
  }
}

.footer__cta {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  p {
    font-size: 1.4rem;
    color: colors.$color-primary;
    font-weight: 500;
  }
}

.footer__nav {
  margin-top: 1.3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  row-gap: 2rem;

  h3:not(:first-of-type),
  ul:not(:first-of-type) {
    margin-left: 3rem;
  }

  h3 {
    font-size: 1.5rem;
    color: colors.$color-primary;
  }
}

.footer__navLinkList {
  text-decoration: none;
  color: colors.$color-primary;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  li {
    list-style: none;
    font-size: 1rem;

    a {
      text-decoration: none;
      color: colors.$text-color-gray;
    }
  }

  &.footer__social {
    flex-direction: row;
    gap: 0.6rem;

    li > a > svg {
      width: 2.8rem;
      fill: colors.$color-primary;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.footer__terms {
  hr {
    border: 0;
    opacity: 0.4;
    border-top: 1px solid colors.$color-primary;
    margin: 1.5rem 0;
  }
}

.footer__terms__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  color: colors.$text-color-gray;
  margin-top: 1rem;
}

.footer__terms__links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  list-style: none;

  a {
    text-decoration: none;
    color: colors.$color-primary;
  }
}

// ======================== MEDIA QUERIES ========================
@media screen and (max-width: 475px) {
  .footer {
    padding-inline: 1.5rem;
  }

  .footer__logo {
    flex-direction: column;
    gap: 2rem;
    // align-items: flex-start;

    img {
      align-self: flex-start;
      width: 60%;
    }
  }

  .footer__cta {
    p {
      font-size: 1rem;
    }
  }

  .footer__nav {
    grid-template-columns: 1fr;
    gap: 1.5rem;

    h3,
    ul {
      margin-left: 0 !important;
    }

    h3 {
      font-size: 1.2rem;

      &:not(:first-of-type) {
        margin-top: 1.5rem;
      }
    }

    .footer__navLinkList li a {
      color: colors.$text-color-dark-blue !important;
      font-size: 0.875rem;
    }

    .footer__navLinkList:nth-of-type(1) {
      grid-row: 2 / 3;
    }

    .footer__navLinkList:nth-of-type(2) {
      grid-row: 4 / 5;
    }

    .footer__navLinkList:nth-of-type(3) {
      grid-row: 6 / 7;
    }
  }

  .footer__terms {
    height: 280px;
  }

  .footer__terms__content {
    flex-direction: column-reverse;
    align-items: normal;
    gap: 1rem;

    p {
      font-size: 0.75rem;
      letter-spacing: -0.5px;
      font-weight: 400;
      color: colors.$text-color-dark-blue;
    }

    .footer__terms__links {
      justify-content: space-between;
      font-weight: 500;
    }
  }
}
