@use "../scss/base/variables" as variables;
@use "../scss/base/colors" as colors;
@use "../scss/utils/utils" as utils;
@use "../scss/base/typography" as typography;

.header {
  display: flex;
  padding-top: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10rem;
}

.logo {
  width: 25%;
  max-width: max-content;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 1.6rem;
  font-family: "Inter", sans-serif;
  font-size: typography.$font-size-md;

  &__list {
    display: flex;
    gap: 1.4rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  &__item {
    position: relative;

    a {
      color: colors.$color-primary;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-weight: 500;
      letter-spacing: -0.5px;
      transition: color 0.3s ease;
      cursor: pointer;
    }

    &:hover .nav__dropdown,
    &:hover .nav__dropdown:hover {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    svg {
      margin-left: 0.25rem;
    }
  }

  &__dropdown {
    position: absolute;
    top: calc(100% - 0.15rem);
    left: -2.5rem;
    background: colors.$bg-color-white;
    border-radius: variables.$rounded-sm;
    box-shadow: utils.$shadow-normal;
    list-style: none;
    padding: 10px 0;
    padding-right: 32px;
    min-width: 250px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease 0.2s, transform 0.3s ease;
    pointer-events: none;
    z-index: 10;

    li {
      padding: 8px 15px;

      a {
        color: colors.$color-primary;
        text-decoration: none;
        display: block;
      }

      &:hover {
        // background: colors.$color-primary;
        cursor: pointer;
      }
    }
  }

  &__cta {
    display: flex;
    gap: 0.875rem;
  }
}

// NAVIGATION MOBILE STYLES
.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    position: fixed;
    top: 0.8rem;
    right: 0.8rem;
    background-color: white;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    position: fixed;
    top: 1.2rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-image: radial-gradient(
      colors.$color-primary,
      colors.$color-tertiary
    );
    z-index: 1000;

    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    pointer-events: none;

    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  &__list {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-family: "Inter", sans-serif;
      font-size: 2.5rem;
      font-weight: 300;
      padding: 0.6rem 2rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        #fff 50%
      );
      background-size: 240%;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: colors.$color-primary;
      transform: translateX(1rem);
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    pointer-events: auto;
    opacity: 1;
    width: 100%;
  }

  // ICON
  &__icon {
    position: relative;
    margin-top: 1.875rem;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 1.6rem;
      height: 2px;
      background-color: colors.$color-primary;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.6rem;
    }

    &::after {
      top: 0.6rem;
    }
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}

// Media queries
@media (max-width: 475px) {
  .header {
    padding-inline: 1.4rem;
    padding-top: 1rem;
  }

  .logo {
    width: 75%;
  }

  .nav {
    display: none;
  }
}
