@use "../scss/base/variables" as variables;
@use "../scss/base/colors" as colors;
@use "../scss/utils/utils" as utils;
@use "../scss/base/typography" as typography;

.header {
  display: flex;
  padding-top: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10rem;
}

.logo {
  width: 25%;
  max-width: max-content;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 1.6rem;
  font-family: "Inter", sans-serif;
  font-size: typography.$font-size-md;

  &__list {
    display: flex;
    gap: 1.4rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  &__item {
    position: relative;

    a {
      color: colors.$color-primary;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-weight: 500;
      letter-spacing: -0.5px;
    }

    &:hover .nav__dropdown {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    svg {
      margin-left: 0.25rem;
    }
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 0.25rem);
    left: -2.5rem;
    background: colors.$bg-color-white;
    border-radius: variables.$rounded-sm;
    box-shadow: utils.$shadow-normal;
    list-style: none;
    padding: 10px 0;
    min-width: 150px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    z-index: 10;

    li {
      padding: 8px 15px;

      a {
        color: colors.$color-primary;
        text-decoration: none;
        display: block;
      }

      &:hover {
        // background: colors.$color-primary;
        cursor: pointer;
      }
    }
  }

  &__cta {
    display: flex;
    gap: 0.875rem;
  }
}
