@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.hero {
  padding: variables.$spacing-section-center;
  margin-top: -3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero__caption {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.hero__captionSubtitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: typography.$font-size-sm;
  font-weight: 400;
  color: colors.$text-color-gray;

  span:is(:first-of-type) {
    color: colors.$color-primary;
  }

  span {
    color: colors.$text-color-gray;
    font-weight: 400;
  }
}

.hero__captionTitle {
  @include typographyMixins.title;
  font-weight: 800;
}

.hero__captionText {
  @include typographyMixins.subCaption;
  font-weight: 400;
  width: 85%;
}

.hero__captionExtra {
  @include typographyMixins.subCaption;
  font-size: typography.$font-size-md;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  font-weight: 700;
  width: 80%;
}

.hero__captionCTA {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hero__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
