@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.hero {
  @include mixins.hero-container;
}

.hero__caption {
  @include mixins.hero-section-caption;
}

.hero__captionSubtitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include typographyMixins.captionSubtitle(
    $color: colors.$text-color-gray,
    $weight: 400
  );
}

.hero__captionTitle {
  @include typographyMixins.title($color: colors.$color-primary);
}

.hero__captionText {
  @include typographyMixins.captionText;
}

.hero__captionExtra {
  @include typographyMixins.subCaption;
  font-size: typography.$font-size-md;
  color: colors.$text-color-dark-blue;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  font-weight: 700;
  width: 80%;
}

.hero__captionCTA {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hero__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
