@use "../../../scss/base/variables" as variables;
@use "../../../scss/base/colors" as colors;
@use "../../../scss/base/typography" as typography;
@use "../../../scss/mixins/mixins" as mixins;
@use "../../../scss/mixins/typography" as typographyMixins;

.overview {
  @include mixins.centered-bg-gray-section;
  border-top-left-radius: variables.$rounded-section;
  border-top-right-radius: variables.$rounded-section;
}

.overview__title {
  @include typographyMixins.title($color: colors.$color-primary);
  margin-bottom: 1rem;
}

.overview__checklist {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.overview__checklistItem {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  p {
    color: colors.$text-color-dark-blue;
    font-weight: 600;
    line-height: 19px;
  }
}

.overview__cta {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.overview__caption {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;

  button {
    width: max-content;
  }
}

.overview__captionTitle {
  @include typographyMixins.title($color: colors.$color-primary);
}

.overview__captionText {
  color: colors.$text-color-dark-blue;
  font-weight: 500;

  span {
    color: colors.$text-color-dark-blue;
    font-weight: 600;
  }
}

.overview__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overview__images img {
  width: 80%;
  object-fit: cover;
}

// ======================= MEDIA QUERIES =======================
@media screen and (max-width: 475px) {
  .overview {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding-inline: 3rem;
    padding-block: 3rem;
  }

  .overview__title {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .overview__checklist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .overview__checklistItem {
    display: grid;
    grid-template-columns: max-content 1fr;

    svg {
      width: 45%;
    }
  }

  .overview__cta {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .overview__images img {
    width: 100%;
  }

  .overview__caption {
    gap: 1rem;
    padding-left: 0;
    align-items: center;
    text-align: center;
  }

  .overview__captionTitle {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
